{% extends "main.html" %} {% block content %}
<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .topics {
    margin-right: 2rem;
  }
  .rooms {
    flex-grow: 1;
  }
  .room {
    margin-bottom: 1rem;
  }
  .room h1 {
    margin: 0.5rem 0;
  }
  .room-actions {
    display: flex;
    gap: 0.5rem;
  }
</style>

<div class="container">
  <div class="topics">{% include 'base/topics.html' %}</div>

  <div class="rooms">
    <h4>{{room_count}} rooms available</h4>
    <a href="{% url 'createRoom' %}">Create a new room</a>
    {% include 'base/feed.html'%}
  </div>

  <div>{% include 'base/activity_component.html' %}</div>
</div>
{% endblock %}
